---
import Links from "@/components/Links.astro";
import { Image } from "astro:assets";

// Content
import { navData } from "@/data/navData";
import { baseData } from "@/data/siteData";

// Images
import facebook from "@/assets/facebook.png";
import instagram from "@/assets/instagram.png";
import mail from "@/assets/mail.png";
import wordmark from "@/assets/mm-logo.png";
import Heading from "@/components/Heading.astro";
---

<footer class="footer">
  <div class="container container-md">
    <div class="content-full footer__content">
      <div class="footer__info">
        <a href="https://beyondbeliefstudio.com/">
          <Image src={wordmark} alt="beyond belief wordmark" class="footer__wordmark" />
        </a>
        <p class="small">{baseData.description}</p>
        <div class="social-grid">
          <a class="social" href="https://www.instagram.com/beyondbelief.studio/">
            <Image src={instagram} alt="Instagram Icon" />
          </a>
          <a class="social" href="https://www.facebook.com/Beyondbeliefco">
            <Image src={facebook} alt="Facebook Icon" />
          </a>
          <a class="social" href="mailto:contact@beyondbeliefstudio.com">
            <Image src={mail} alt="Mail Icon" />
          </a>
        </div>
      </div>
      <div class="footer__links">
        <div class="footer__col">
          <Heading tag="h3" size="s" fontFamily="secondary" marginBottom="m" weight="fw500"
            >Quick Links</Heading
          >
          <nav class="footer__nav-links">
            {
              navData.map(i => {
                return (
                  <Links variant="nav-link" href={i.href}>
                    {i.title}
                  </Links>
                );
              })
            }
          </nav>
        </div>
        <div class="footer__col">
          <Heading tag="h3" size="s" fontFamily="secondary" marginBottom="m" weight="fw500"
            >Opening Hours</Heading
          >
          <p>{baseData.hours.weekday.days}: {baseData.hours.weekday.hours}</p>
          <p>{baseData.hours.saturday.days}: {baseData.hours.saturday.hours}</p>
          <p>{baseData.hours.sunday.days}: {baseData.hours.sunday.hours}</p>
        </div>
        <div class="footer__col">
          <Heading tag="h3" size="s" fontFamily="secondary" marginBottom="m" weight="fw500"
            >Location</Heading
          >
          <a
            href={`https://www.google.com/maps/search/?api=1&query=${encodeURIComponent(baseData.address.full)}`}
            target="_blank"
            rel="noopener noreferrer"
            class="footer__address-link"
          >
            <p>
              {baseData.address.street}<br />{baseData.address.city}, {baseData.address.state}
              {baseData.address.zip}
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  .footer {
    background-color: var(--dark-800);
    color: var(--light-100);

    &__content {
      gap: 2rem;
      justify-content: space-between;
      width: 100%;
      display: flex;
      text-align: left;

      p {
        font-family: var(--tertiary-family);
        color: var(--light-100);
      }
    }

    &__info {
      grid-column-gap: 5px;
      grid-row-gap: 5px;
      flex-flow: column;
      width: 44%;
      display: flex;
      max-width: 400px;
    }

    &__links {
      justify-content: end;
      align-items: flex-start;
      width: 100%;
      display: grid;
      max-width: 850px;
      grid-template-columns: auto auto auto;
      grid-gap: 4rem;
    }

    &__nav-links {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .nav-link {
        font-weight: 400;
        text-transform: capitalize;
        letter-spacing: 0px;
        width: fit-content;
        color: var(--light-100);
      }

      &.lowercase .nav-link {
        text-transform: initial !important;
      }
    }

    &__wordmark {
      max-width: 100%;
      background-size: contain;
      height: fit-content;
      max-width: 250px;
      margin-bottom: 1rem;
      max-height: 150px;
      object-fit: contain;
      object-position: left center;
      filter: invert(1);

      @media screen and (max-width: 768px) {
        max-width: 175px;
      }
    }

    .social-grid {
      display: flex;
      gap: 0.5rem;

      .social {
        background: var(--brand-primary);
        border-radius: 100%;
        height: 35px;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 1px;
        transition: 0.25s ease-in-out all;
        cursor: pointer;

        img {
          width: 20px;
          height: 20px;
        }

        &:hover {
          background: var(--light-100);
        }
      }
    }

    &__address-link {
      color: var(--light-100);
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: var(--brand-primary);
      }

      p {
        margin: 0;
      }
    }
  }

  @media (max-width: 1010px) {
    .footer {
      &__info {
        width: 50%;
      }
      &__links {
        width: 50%;
        flex-direction: column;
        gap: 2rem;
      }
    }
  }

  @media (max-width: 768px) {
    .footer {
      &__content {
        flex-direction: column;
      }
      &__info {
        width: 100%;
      }
      &__links {
        width: 100%;
      }
    }
  }
</style>
